# Set sensible Chrome memory limits
export CHROME_MEM_LIMIT=1024m
export CHROME_MEMSWAP_LIMIT=1536m

# Use IntelliJ Pro
export INTELLIJ_VARIANT=idea-pro

# Use PyCharm Pro
export PYCHARM_VARIANT=pycharm-pro

# Enable Go modules
export GO111MODULE=on

